<div class="login-container" [formGroup]="logInForm">
  <div class="login-title">Login</div>

  <div class="form-field form-field-half" formControlName="email">
    <div class="field-label">*Email:</div>
    <mat-form-field>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      @if(logInForm.controls.email.hasError('required')){
      <mat-error>Email required</mat-error>
      } @else if(logInForm.controls.email.hasError('email')){
      <mat-error>Invalid Email</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-field form-field-half" formControlName="password">
    <div class="field-label">*Password:</div>
    <mat-form-field>
      <input type="password" matInput formControlName="password" />
      @if(logInForm.controls.password.hasError('required')){
      <mat-error>Password required</mat-error>
      } @else if(logInForm.controls.password.hasError('minlength')){
      <mat-error>Min 8 characters</mat-error>
      }
    </mat-form-field>
  </div>

  <button mat-stroked-button>Login</button>
</div>
